{% extends "stocks/stocks_base.html" %}
{% load static %}

{% block stocks_content %}
    <ol class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li><a href="{% url 'stocks' %}">股票</a></li>
        <li><a href="">{{ account }} </a></li>
    </ol>


    <h1>
        {{ account }}
        {% if is_admin %}
            <a href="{% url 'admin:stocks_account_change' account.id %}" target="_blank" class="btn btn-lg btn-primary btn-lg">管理</a>
        {% endif %}
    </h1>
    <h3>概览
        <a class="btn btn-lg btn-primary" role="button" data-toggle="collapse" href="#summary" aria-expanded="{% if account.display_summary %}true{% else %}false{% endif %}" aria-controls="summary">
            显示/隐藏
        </a>
    </h3>
    <div class="collapse{% if account.display_summary %} in{% endif %}" id="summary">
        <table class="table">
            <tr>
                <th>科目</th>
                <th>数值</th>
            </tr>
            <tr>
                <td>起始资金</td>
                <td>{{ account.initial_investment }}</td>
            </tr>
            <tr>
                <td>当前净资产</td>
                <td>{{ account.net }}</td>
            </tr>
            {% if account.debt %}
                <tr>
                    <td>负债</td>
                    <td>{{ account.debt }}</td>
                </tr>
                <tr>
                    <td>担保比</td>
                    <td>{{ account.ratio|floatformat:2 }}%</td>
                </tr>
            {% endif %}
            <tr>
                <td>总收益率</td>
                <td>{{ account.total_yield_percent|floatformat:2 }}%</td>
            </tr>
            <tr>
                <td>年化收益率</td>
                <td>{{ account.yearly_yield_percent|floatformat:2 }}%</td>
            </tr>
            <tr>
                <td>账户年龄</td>
                <td>{{ account.years|floatformat:2 }}年</td>
            </tr>
        </table>
        <table class="table">
            <tr>
                <th>名称</th>
                <th>数量</th>
                <th>总价</th>
                <th>占比</th>
            </tr>
            {% for stock in account.stocks.all %}
                <tr>
                    <td>{{ stock.stock }}</td>
                    <td>{{ stock.amount }}</td>
                    <td>{{ stock.total }}</td>
                    <td>{{ stock.percent|floatformat:2 }}%</td>
                </tr>
            {% endfor %}
        </table>
    </div>


    <h3>构成
        <a class="btn btn-lg btn-primary" role="button" data-toggle="collapse" href="#account_chart_container" aria-expanded="true" aria-controls="account_chart_container">
            显示/隐藏
        </a>
    </h3>
    <div id="account_chart_container" class="collapse in">
        <div id="account_chart"  style="width:100%;height:500px"></div>
    </div>


    {% if snapshots %}
        <h3>快照
            <a class="btn btn-lg btn-primary" role="button" data-toggle="collapse" href="#account_snapshots" aria-expanded="true" aria-controls="account_snapshots">
                显示/隐藏
            </a>
        </h3>

        {% include "stocks/includes/snapshot_list.html" %}

        {% if snapshots_chart_data %}
        <div id="snapshots_chart" style="width:100%;height:500px"></div>
        {% endif %}
    {% endif %}

    {% if logged_in %}

        <h3>
            <form method="post" action="{% url 'take_snapshot' account.slug %}">
                {% csrf_token %}
                <button class="btn btn-lg btn-primary">
                    Take Snapshot
                </button>
            </form>
        </h3>

        <h3>配对</h3>
        {% include "stocks/includes/pair_list.html" %}
    {% endif %}


    {% if logged_in %}
        <h3>利润
            <a class="btn btn-lg btn-primary" role="button" data-toggle="collapse" href="#account_profit" aria-expanded="true" aria-controls="account_profit">
                显示/隐藏
            </a>
        </h3>
        <div  class="collapse in" id="account_profit">
            <table class="table">
                {% for month in aggregates_by_months %}
                    <tr>
                        <th>{{ month.time }}</th>
                        <td>
                            {{ month.pair_profit }}
                            {% if month.profit %} + {{ month.profit }} = <strong style="color:red;">{{ month.total }}</strong>{% endif %}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <th>未结配对盈亏: </th>
                    <td>{{ pair_virtual_profit|floatformat:2 }}</td>
                </tr>
                {% if transaction_virtual_profit %}
                    <tr><th>未结交易盈亏: </th><td>{{ transaction_virtual_profit|floatformat:2 }}</td></tr>
                {% endif %}
                    <tr>
                        <th>全部历史盈亏: </th>
                        <td>
                            配对：{{ all_time_profits.pair|floatformat:2 }}
                            卖出：{{ all_time_profits.bs|floatformat:2 }}
                            全部：{{ all_time_profits.total|floatformat:2 }}
                        </td>
                    </tr>
            </table>
        </div>

        <h3>未结配对交易
            <a href="{% url 'admin:stocks_pairtransaction_add' %}?account={{ account.id }}" target="_blank" class="btn btn-lg btn-primary btn-lg">添加</a>
            <a href="{% url 'account_pair_transactions' account.slug %}" target="_blank" class="btn btn-lg btn-lg btn-primary">全部配对交易</a>

        </h3>
        {% with pair_transactions_unfinished as pair_transactions %}
            {% include "stocks/includes/pair_transaction_list.html" %}
        {% endwith %}

        <h3>已完成配对交易</h3>
        {% with recent_pair_transactions as pair_transactions %}
            {% include "stocks/includes/pair_transaction_list.html" %}
        {% endwith %}

        {% if account_bs_transactions %}
            <h3>未卖出交易
                <a href="{% url 'admin:stocks_boughtsoldtransaction_add' %}?account={{ account.id }}" target="_blank" class="btn btn-lg btn-primary">添加</a>
            </h3>
            {% with bs_transactions_unfinished as bs_transactions %}
                {% include "stocks/includes/bs_transaction_list.html" %}
            {% endwith %}
            <h3>已卖出交易</h3>
            {% with bs_transactions_this_month as bs_transactions %}
                {% include "stocks/includes/bs_transaction_list.html" %}
            {% endwith %}
        {% else %}
            <h3>
                <a href="{% url 'admin:stocks_boughtsoldtransaction_add' %}?account={{ account.id }}" target="_blank" class="btn btn-lg btn-primary">添加未卖出交易</a>
            </h3>
        {% endif %}
    {% endif %}


    {% if recent_transactions %}
        {% with recent_transactions as transactions %}
            <h3>最近交易
                <a class="btn btn-lg btn-primary" role="button" data-toggle="collapse" href="#recent_transactions" aria-expanded="true" aria-controls="recent_transactions">
                    显示/隐藏
                </a>
            </h3>
            <div class="collapse in" id="recent_transactions">
                {% include "stocks/includes/transactions_list.html" %}
            </div>
        {% endwith %}
    {% endif %}
{% endblock %}


{% block extra_js %}
    {% if logged_in and get_price_job %}
    <div id="refresh_seconds_count_down" data-spy="affix" data-offset-top="200" data-offset-bottom="100" style="top: 300px; position: fixed; visibility:hidden;">
        <div class="alert alert-info alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">x</span>
            </button>
            <span id="refresh_seconds"></span>秒后刷新
        </div>
    </div>
    {% endif %}

  {{ block.super }}
  <script src="{% static 'echarts-3.4/echarts.common.min.js' %}"></script>
  <script type="text/javascript">
      {% if logged_in and get_price_job %}
          var seconds = 60
          function reloadCountDown(){
              seconds -= 1;
              $('#refresh_seconds').html(seconds);
              $('#refresh_seconds_count_down').css('visibility','visible');
              if (seconds <= 0){
                  location.reload()
              }
          }
          $(function(){
              setInterval('reloadCountDown()', 1000)
          })
      {% endif %}

      // http://echarts.baidu.com/tutorial.html
      var solid_style = {normal: {lineStyle:{type:'solid'}}}
      var weak_style = {normal: {lineStyle:{color:'grey', width: 0.5}}}
      /* -------------------------------- 账户图 --------------------------------------- */
      var myChart = echarts.init(document.getElementById('account_chart'));
      var names = []
      var data = []
      {% for stock in account.stocks.all %}
          names.push('{{ stock.stock }}');
          data.push({value: {{ stock.total }}, name:'{{ stock.stock }}'})
      {% endfor %}
      var option = {
          tooltip : {
              trigger: 'item',
              formatter: "{a} <br/>{b} : {c} ({d}%)"
          },
          toolbox: {
              show : true,
              feature : {
                  mark : {show: true},
                  dataView : {show: true, readOnly: false},
                  restore : {show: true},
                  saveAsImage : {show: true}
              }
          },
          calculable : true,
          series : [
              {
                  name:'账户股票比例',
                  type:'pie',
                  radius : '65%',
                  center: ['50%', '50%'],
                  data: data
              }
          ]
      };
      myChart.setOption(option);
      /* -------------------------------- 账户图结束 --------------------------------------- */

      {% if snapshots_chart_data %}
      /* -------------------------------- 账户历史净资产图 --------------------------------------- */
      var snapshotsChart = echarts.init(document.getElementById('snapshots_chart'));
      var names = {{ snapshots_chart_data.x_axis|safe }}
      var data = {{ snapshots_chart_data.y_axis|safe }}
      var sh_index = {{ snapshots_chart_data.sh_index|safe }}
      var hs300_index = {{ snapshots_chart_data.hs300_index|safe }}
      var option = {
          toolbox: {
              show : true,
              feature : {
                  mark : {show: true},
                  dataView : {show: true, readOnly: false},
                  restore : {show: true},
                  saveAsImage : {show: true}
              }
          },
          legend: {
              left: 'left',
              data: ['账户历史净资产', '同期上证指数', '同期沪深300指数']
          },
          xAxis : [
              {
                  type : 'category',
                  boundaryGap : false,
                  data : names
              }
          ],
          yAxis : [
              {
                  type : 'value'
              }
          ],
          tooltip: {
              trigger: 'item',
              formatter: function (params, ticket, callback) {
                  if(params.seriesName == '账户历史净资产'){
                      return params.name + ' : ' + params.data
                  };
              }
          },
          series : [
              {
                  name:'账户历史净资产',
                  type:'line',
                  data: data
              },
              {
                  name:'同期上证指数',
                  type:'line',
                  data: sh_index
              },
              {
                  name:'同期沪深300指数',
                  type:'line',
                  data: hs300_index
              }
          ]
      };
      snapshotsChart.setOption(option);
      /* -------------------------------- 账户历史净资产图结束 --------------------------------------- */
      {% endif %}
  </script>
{% endblock %}
