{% extends "stocks/stocks_base.html" %}
{% load static %}

{% block head %}
    <title>{{ pair }}</title>
{% endblock %}


{% block stocks_content %}
    <ol class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li><a href="{% url 'stocks' %}">股票</a></li>
        <li><a href="">"{{ pair }}" 配对明细</a></li>
    </ol>

    <h1>{{ pair }}</h1>
    <h3>未完成</h3>
    {% with unfinished_pair_transactions as pair_transactions %}
        {% include "stocks/includes/pair_transaction_list.html" %}
    {% endwith %}
    <h3>完成</h3>
    {% include "stocks/includes/pair_transaction_list.html" %}
{% endblock %}

