{% extends "stocks/stocks_base.html" %}
{% load static %}

{% block head %}
    <title>{{ pair }}</title>
{% endblock %}


{% block stocks_content %}
    <ol class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li><a href="{% url 'stocks' %}">股票</a></li>
        <li><a href="">"{{ pair }}" 配对明细</a></li>
    </ol>

    <h1>{{ pair }}</h1>

    <h2>当前值:{{ pair.current_value }} ({{ pair.value_updated }}更新)</h2>

    <h3 class="no-input">利润
        <a class="btn btn-lg btn-primary" role="button" data-toggle="collapse" href="#account_profit" aria-expanded="true" aria-controls="account_profit">
            显示/隐藏
        </a>
    </h3>
    <div class="collapse in" id="account_profit">
        <table class="table">
            {% for month in aggregates_by_months %}
                <tr>
                    <th>{{ month.time }}</th>
                    <td>
                        {{ month.pair_profit }}
                        {% if month.profit %} + {{ month.profit }} = <strong style="color:red;">{{ month.total }}</strong>{% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <th>未结配对盈亏: </th>
                <td>{{ pair_virtual_profit|floatformat:2 }}</td>
            </tr>
        </table>
    </div>


    <h3>未完成</h3>
    {% with unfinished_pair_transactions as pair_transactions %}
        {% include "stocks/includes/pair_transaction_list.html" %}
    {% endwith %}

    <h3>已存档</h3>
    {% with archived_pair_transactions as pair_transactions %}
        {% include "stocks/includes/pair_transaction_list.html" %}
    {% endwith %}

    <h3>已完成</h3>
    {% include "stocks/includes/pair_transaction_list.html" %}
{% endblock %}

