{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    {{ page.body|richtext }}
    <img src="{% static 'img/demo/playing-lego.jpg' %}">

    {% if user.is_authenticated %}
        <p>
            <a href="{% url 'info_reader' %}">Info Reader</a> |
            <a href="{% url 'my_feedreader' %}">RSS Reader</a> |
            <a href="{% url 'fund_value_estimation' %}">分级基金净值计算</a> |
            <a href="{% url 'compound_interest' %}">复利表</a> |
            <a href="{% url 'read_list' %}">阅读</a> |
            <a href="{% url 'account_details' 'public' %}">公开账户 - 投资改变生活</a> |
            <a href="http://docs.wagtail.io/" target="_blank">http://docs.wagtail.io</a> |
            <a href="{% url 'api-root' %}">API</a>
        </p>
    {% endif %}
{% endblock %}

