Django>=1.10,<1.11
MySQL-python==1.2.5
wagtail>=1.9,<1.10
pytest-django
django-extensions
ipython
whitenoise
redis
django-rq
rq-scheduler
git+https://github.com/fruitschen/django-feedreader.git#egg=django-feedreader
BeautifulSoup==3.2.1
urllib3[secure]
django-webpack-loader

djangorestframework
markdown       # Markdown support for the browsable API.
django-filter  # Filtering support
django-crispy-forms
django-debug-toolbar

-e git+https://github.com/django-backup/django-backup.git@develop#egg=django-backup
