{% extends "raw_base.html" %}
{% load static %}

{% block body_class %}info-reader-mobile{% endblock %}

{% block content %}
{% verbatim %}
<div id="app">
    <div>
        <div v-for="info_item in info_items">
            <div>
                <h3>
                    <button v-on:click="markAsRead(info_item, $event)">
                        Mark Read
                    </button>
                    <span>[{{ info_item.source_name }}]</span>
                    <strong style="color:red;" v-if="info_item.tags">[{ info_item.tags }] </strong>
                    <a :href="info_item.url" target="_blank">
                        {{ info_item.title }}
                    </a>
                </h3>
                <p v-html="info_item.content" v-if="info_item.content"></p>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/vue"></script>
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery_ajax_csrf.js' %}"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            page: 1,
            info_items: [],
            previous: null,
            next: null
        },
        methods: {
            markAsRead: function(info_item, event){
                $.ajax({
                  type: 'POST',
                  dataType: 'json',
                  url: info_item.mark_as_read,
                  data: {},
                  success: function(data){
                      this.info_items.splice(this.info_items.indexOf(info_item), 1);
                  }.bind(this)
                });
            }
        }
    })
    $.ajax({
      url: '/api/info/',
      data: {
        page: app.$data.page,
        is_read: false
      },
      dataType: 'json',
      cache: false,
      success: function(data) {
        var count = data.count;
        app.$data.info_items = data.results;
        app.$data.previous = data.previous;
        app.$data.next = data.next;
        app.$data.total = data.count;
      }.bind(this),
      error: function(xhr, status, err) {
        console.error(url, status, err.toString());
      }.bind(this)
    });
</script>
{% endblock %}
