{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ title|default:"Diary APP" }}
{% endblock %}

{% block outter_content %}
    <div class="content-wrap container" id="diary_container">
        <div class="row">
            <div class="col-md-12">
                {% if warnings %}
                    {% for warning in warnings %}
                        <div class="alert alert-danger alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong class="message">{{ warning }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="btn-group" role="group" style="margin-bottom: 10px;">

                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            日记
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'diary_details' yesterday %}{% if tag %}?tag={{ tag }}{% endif %}">昨天</a></li>
                            <li><a href="{% url 'diary_details' today %}{% if tag %}?tag={{ tag }}{% endif %}">今天</a></li>
                            <li><a href="{% url 'diary_details' tomorrow %}{% if tag %}?tag={{ tag }}{% endif %}">明天</a></li>
                            <li><a href="{% url 'diary_events' %}">事项</a></li>
                            <li><a href="{% url 'diary_todo' %}">TODO</a></li>
                            <li><a href="{% url 'contacts_send_email' %}">发邮件</a></li>
                        </ul>
                    </div>

                    <!-- shortcuts -->
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          链接
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% for shortcut in shortcuts %}
                                <li><a href="{{ shortcut.link }}" target="_blank">{{ shortcut.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <a href="{% url 'info_reader_mobile' %}" class="btn btn-default">Reader<span class="badge">{{ unread_info_count }}</span></a>
                </div>

                {% block diary_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static "bootstrap-3.3.7-dist/js/bootstrap.min.js" %}"></script>
{% endblock %}

