{% extends "diary/diary_base.html" %}

{% block diary_content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'diary_index' %}">日记</a></li>
        <li><a href="{% url 'diary_list' %}">日记列表</a></li>
        <li><a href="{{ diary.get_absolute_url }}">日记 {{ diary.date|date:'Y-m-j' }} {{ diary.weekday }}</a></li>
    </ol>
    {% include 'diary/include/events_list_message.html' %}
    {% include 'diary/include/events_list.html' %}

    <table class="table table-condensed">
    {% for ex_log in exercises_logs %}
        <tr id="ex_log-{{ ex_log.id }}">
            <th style="width: 8em;">
                {{ ex_log.exercise.name }}
            </th>
            <td id="ex_log_stars{{ ex_log.id }}">
                {% for i in ex_log.range %}
                    <span class="glyphicon glyphicon-star"></span>
                {% endfor %}

                <a href="#" class="do_exercise" data-log_id="{{ ex_log.id }}">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </td>
        </tr>
    {% endfor %}
    </table>


    <a class="btn btn-default btn-sm" target="_blank" href="{% url 'admin:diary_event_add' %}?event_date={{ diary.formatted_date }}&event_type=manual">添加日程</a>
    <h2 id="diary-title">{{ diary.date|date:'Y-m-j' }} {{ diary.weekday }}</h2>
    {% for content in diary.contents.all %}
        {{ content.render }}
    {% endfor %}

    {% if diary.id %}
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#add-text" aria-controls="add-text" role="tab" data-toggle="tab">添加文字</a>
            </li>
            <li>
                <a href="#add-image" aria-controls="add-image" role="tab" data-toggle="tab">添加图片</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="add-text" style="height: 350px;">
                {% include "diary/include/diary_add_text.html" %}
            </div>
            <div role="tabpanel" class="tab-pane"  id="add-image" style="height: 350px;">
                {% include "diary/include/diary_add_image.html" %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script>
    $(function() {
        {% if editting %}
            $('.edit').show();
        {% endif %}
        $('#diary-title').append('<a href="#" id="edit-button" class="btn btn-default">编辑</a>')
        $('#edit-button').click(function(){
            $('.edit').toggle()
        });

        $('.do_exercise').click(function(e){
            e.preventDefault();
            var log_id = $(this).data('log_id');
            $.post('{% url 'update_exercise_log' %}', {
                  log_id: log_id,
            },
            function(data, status){
                if (status == 'success'){
                    $('#ex_log_stars' + log_id).prepend('<span class="glyphicon glyphicon-star"></span>');
                    var message = $($('.alert-success')[0]).clone();
                    var random_id = '' + parseInt(Math.random() * 1000);
                    message.attr('id', random_id).show();
                    $(message).find('.message').html(data + ' ' + status);
                    $('#events-message-area').append(message);
                    setTimeout('$("#' + random_id + '").hide()', 1000)
                }
            });
        });
    });



    </script>
    {% include "diary/include/events_list_js.html" %}
{% endblock %}

