{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ title|default:"Diary APP" }}
{% endblock %}

{% block outter_content %}
    <div class="content-wrap container" id="diary_container">
        <div class="row">
            <div class="col-md-12">
                {% block diary_content %}
                {% endblock %}
                <div class="btn-group" role="group"  style="padding-bottom: 150px;">
                    <a href="{% url 'diary_details' yesterday %}{% if tag %}?tag={{ tag }}{% endif %}" class="btn btn-default">昨天</a>
                    <a href="{% url 'diary_details' today %}{% if tag %}?tag={{ tag }}{% endif %}" class="btn btn-default">今天</a>
                    <a href="{% url 'diary_details' tomorrow %}{% if tag %}?tag={{ tag }}{% endif %}" class="btn btn-default">明天</a>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            更多
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'diary_list' %}">日记列表</a></li>
                            <li><a href="{% url 'diary_events' %}">Events</a></li>
                            <li><a href="{% url 'diary_todo' %}">TODO</a></li>
                            <li><a href="/">主页</a></li>
                            <li><a href="{% url 'diary_details_wechat' today %}" target="_blank">DEBUG: details</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static "bootstrap-3.3.7-dist/js/bootstrap.min.js" %}"></script>
{% endblock %}

