{% extends "diary/diary_base.html" %}
{% load crispy_forms_tags %}

{% block diary_content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'diary_index' %}">日记</a></li>
        <li>Events</li>
    </ol>

    <h3>Events</h3>

    <ul class="nav nav-pills">
        <li role="presentation" {% if not selected_type %}class="active"{% endif %}><a href=".">全部</a></li>
        {% for event_type in event_types %}
            <li role="presentation" {% if selected_type == event_type %}class="active"{% endif %}><a href="?event_type={{ event_type }}">{{ event_type }}</a></li>
        {% endfor %}
    </ul>

    <form method="get" action=".">
        {{ form.start }} ~ {{ form.end }}
        <input type="submit" value="改日期" />
        {% for shortcut in shortcuts %}
            <a href=".?start={{ shortcut.1|date:'Y-m-j' }}" class="btn btn-default">{{ shortcut.0 }}</a>
        {% endfor %}
    </form>

    {% for day_and_events in days_and_events %}
        <h3>{{ day_and_events.day|date:'Y-m-j' }} {{ day_and_events.weekday }}</h3>
        {% with day_and_events.events as events %}
            {% include 'diary/include/events_list.html' %}
        {% endwith %}
    {% endfor %}


{% endblock %}
