{% extends "diary/diary_base.html" %}

{% block diary_content %}
    <ol class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li><a href="{% url 'diary_index' %}">日记</a></li>
        <li>Events</li>
    </ol>

    <h2>Events</h2>

    {% for day_and_events in days_and_events %}
        <h2>{{ day_and_events.day }} {{ day_and_events.weekday }}</h2>
        <ul>
            {% for event in day_and_events.events %}
                <li>{{ event.event }}</li>
            {% endfor %}
        </ul>
    {% endfor %}


{% endblock %}
