{% extends "diary/diary_base.html" %}

{% block diary_content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'diary_index' %}">日记</a></li>
        <li>Events</li>
    </ol>

    <h3>Events</h3>

    <ul class="nav nav-pills">
        <li role="presentation" {% if not selected_type %}class="active"{% endif %}><a href=".">全部</a></li>
        {% for event_type in event_types %}
            <li role="presentation" {% if selected_type == event_type %}class="active"{% endif %}><a href="?event_type={{ event_type }}">{{ event_type }}</a></li>
        {% endfor %}
    </ul>

    <form method="get" action=".">
        {{ form.start }} ~ {{ form.end }}
        <input type="submit" value="改日期" />
        {% for shortcut in dates_shortcuts %}
            <a href=".?start={{ shortcut.1|date:'Y-m-j' }}" class="btn btn-default">{{ shortcut.0 }}</a>
        {% endfor %}
    </form>

    {% for day_and_events in days_and_events %}
        <h3 class="bg-success">
            <a href="{% url 'diary_details' day_and_events.diary.formatted_date %}">{{ day_and_events.diary.formatted_date }} {{ day_and_events.diary.weekday }}</a>
        </h3>
        {% with events=day_and_events.events events_by_groups=day_and_events.events_by_groups %}
            {% include "diary/include/events_list.html" %}
        {% endwith %}
    {% endfor %}

{% endblock %}
