{% extends "code_reading/code_base.html" %}
{% load static %}


{% block content %}
    <h1>
        <a href="{% url 'code_reading_project' project %}">{{ project }}</a>
        :
        <a href="{% url 'code_reading_project' project %}?pwd={{ pwd }}">{% if pwd %}{{ pwd }}{% endif %}</a>
    </h1>
    <table class="table">
        <tr>
            <th>Python Files</th>
            <td>{{ project.py_files_read_count }} / {{ project.py_files_count }}</td>
        </tr>
        <tr>
            <th>Lines</th>
            <td>{{ project.py_lines_read_count }} / {{ project.py_lines_count }}</td>
        </tr>
        <tr>
            <td>Last Updated</td>
            <td>{{ project.updated_timestamp }}</td>
        </tr>
    </table>

    <ul>
        {% for directory in directories %}
            <li>
                <a href="{% url 'code_reading_project' project %}?pwd={{ directory.pwd }}">
                    +{{ directory.name }}
                </a>
            </li>
        {% endfor %}
        {% for file_obj in files_objects %}
            <li>
                {% if file_obj.read %}
                    <input type="checkbox" name="read" checked disabled />
                {% else %}
                    <input type="checkbox" name="read" disabled />
                {% endif %}
                <a href="{% url 'code_reading_project' project %}?pwd={{ pwd }}&file={{ file_obj.filename }}">
                    {{ file_obj.filename }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

