{% extends "code_reading/code_base.html" %}
{% load static %}


{% block content %}
    <h1>{{ project }}{% if pwd %}: {{ pwd }}{% endif %}</h1>
    <table class="table">
        <tr>
            <th>Python Files</th>
            <td>{{ project.py_files_read_count }} / {{ project.py_files_count }}</td>
        </tr>
        <tr>
            <th>Lines</th>
            <td>{{ project.py_lines_read_count }} / {{ project.py_lines_count }}</td>
        </tr>
        <tr>
            <td>Last Updated</td>
            <td>{{ project.updated_timestamp }}</td>
        </tr>
    </table>

    <ul>
        {% for directory in directories %}
            <li>
                <a href="{% url 'code_reading_project' project %}?pwd={{ directory.pwd }}">
                    +{{ directory.name }}
                </a>
            </li>
        {% endfor %}
        {% for file in files %}
            <li>
                <a href="{% url 'code_reading_project' project %}?pwd={{ pwd }}&file={{ file }}">
                    {{ file }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

