{% extends "stocks/stocks_base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block stocks_content %}

    <ol class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li><a href="{% url 'stocks' %}">股票</a></li>
        <li><a href="">银行B份价值估算</a></li>
    </ol>

    <ul>
        {% for fund in funds %}
            <li>
                <a href="{% url 'fund_value_estimation' fund.code %}">{{ fund.name }}{{ fund.code }}</a>
            </li>
        {% endfor %}
    </ul>

    <h1>{{ fund.name }}({{ fund.code }})价值估算</h1>

    {% for group in groups %}
        <h2>ROE {{ group.roe }}</h2>
        <table class="table">
            <tr>
                <th>净值</th>
                <th>动用资金</th>
                <th>净值杠杆</th>
                <th>PB</th>
                <th>净资产</th>
                <th>利润</th>
                <th>手续费</th>
                <th>利息</th>
                <th>实际利润</th>
                <th>母基金PE</th>
                <th>基金PE</th>
                <th>基金ROE</th>
            </tr>

            {% for result in group.results %}
                <tr>
                    <td>{{ result.fund_value|floatformat:2 }}</td>
                    <td>{{ result.money|floatformat:2 }}</td>
                    <td>{{ result.leverage|floatformat:2 }}</td>
                    <td>{{ result.pb|floatformat:2 }}</td>
                    <td>{{ result.asset|floatformat:2 }}</td>
                    <td>{{ result.profit|floatformat:2 }}</td>
                    <td>{{ result.total_fee|floatformat:2 }}</td>
                    <td>{{ result.interest|floatformat:2 }}</td>
                    <td>{{ result.real_profit|floatformat:2 }}</td>
                    <td>{{ result.parent_fund_pe|floatformat:2 }}</td>
                    <td>{{ result.fund_pe|floatformat:2 }}</td>
                    <td>{{ result.fund_roe|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}
