{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <h1>分级基金价值估算</h1>

    {% for group in groups %}
        <h2>ROE {{ group.roe }}</h2>
        <table>
            <tr>
                <th>净值</th>
                <th>动用资金</th>
                <th>净值杠杆</th>
                <th>PB</th>
                <th>净资产</th>
                <th>利润</th>
                <th>手续费</th>
                <th>利息</th>
                <th>实际利润</th>
                <th>基金PE</th>
                <th>基金ROE</th>
            </tr>

            {% for result in group.results %}
                <tr>
                    <td>{{ result.fund_value|floatformat:2 }}</td>
                    <td>{{ result.money|floatformat:2 }}</td>
                    <td>{{ result.leverage|floatformat:2 }}</td>
                    <td>{{ result.pb|floatformat:2 }}</td>
                    <td>{{ result.asset|floatformat:2 }}</td>
                    <td>{{ result.profit|floatformat:2 }}</td>
                    <td>{{ result.total_fee|floatformat:2 }}</td>
                    <td>{{ result.interest|floatformat:2 }}</td>
                    <td>{{ result.real_profit|floatformat:2 }}</td>
                    <td>{{ result.fund_pe|floatformat:2 }}</td>
                    <td>{{ result.fund_roe|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}
