DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'HOST': '',
        'PORT': '',
        'NAME': '{{ db_name }}',
        'USER': '{{ db_user }}',
        'PASSWORD': '{{ db_password }}',
    }
}

ALLOWED_HOSTS = ['pms', 'localhost']

BACKUP_LOCAL_DIRECTORY = '/path/to/backups' # Where to store local backups
BACKUP_DATABASE_COPIES = {
   'daily': 7,
   'weekly': 4,
   'monthly': 12,
}

SECRET_KEY = 'Enter something here...'

SYNCS = {
    # a command to pull the backups from server to localhost
    'pull_server_backups': 'rsync -rave ssh {server}:{backups_path} {local_backups_path}',

    'sync_stocks_to_server': [
        'python manage.py dumpdata stocks --indent 4 > ~/stocks.json',
        'scp ~/stocks.json {server}:',
        'ssh {server} "cd {project_path}; python manage.py loaddata ~/stocks.json;"',
    ],
}
