DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'HOST': '',
        'PORT': '',
        'NAME': '{{ db_name }}',
        'USER': '{{ db_user }}',
        'PASSWORD': '{{ db_password }}',
    }
}

ALLOWED_HOSTS = ['pms', 'localhost']

BACKUP_LOCAL_DIRECTORY = '/path/to/backups' # Where to store local backups
BACKUP_DATABASE_COPIES = {
   'daily': 7,
   'weekly': 4,
   'monthly': 12,
}

SECRET_KEY = 'Enter something here...'
