{% for t in bs_transactions %}
    <table class="table" style="margin:0;">
        <thead>
            <tr>
                <th style="width:60%">
                    <strong>{{ t }} {{ t.started.date.year }}-{{ t.started.date.month }}-{{ t.started.date.day }}</strong>
                </th>
                <th style="width:28%">
                    <strong style="color:red;">{{ t.percent }} = {{ t.get_profit|floatformat:2 }} / {{ t.money_taken|floatformat:2 }}</strong>
                </th>
                <th style="width:12%">
                    <a href="{% url 'admin:stocks_boughtsoldtransaction_change' t.id %}" target="_blank" class="btn btn-primary btn-sm">Admin</a>
                    <a class="btn btn-primary btn-sm" role="button" data-toggle="collapse" href="#transactions_{{ t.id }}" aria-expanded="false" aria-controls="transactions_{{ t.id }}">
                        明细
                    </a>
               </th>
            </tr>
        </thead>
        <tbody class="collapse trans_details" id="transactions_{{ t.id }}">
            <tr><th>卖出{{ t.bought_stock.name }}</th><td colspan="2">{{ t.sold_price|default:t.bought_stock.price|floatformat:2 }} x {{ t.bought_amount }} = {{ t.sold_total|floatformat:2 }}</td></tr>
            <tr><th>买入{{ t.bought_stock.name}}</th><td colspan="2">{{ t.bought_price|floatformat:2 }} x {{ t.bought_amount }} = {{ t.bought_total|floatformat:2 }}</td></tr>
            <tr><th>利润</th><td colspan="2"> <strong style="color:red;">{{ t.get_profit|floatformat:2 }}</strong> = {{ t.profit_before_fee|floatformat:2 }} - {{ t.fee|floatformat:2 }} - {{ t.interest|floatformat:2 }}</td></tr>
        </tbody>
    </table>
{% endfor %}
