<table class="table">
    <tr>
        <th>配对</th>
        <th>当前值</th>
        <th>今日变动</th>
        <th>--</th>
        <th>--</th>
        <th>--</th>
    </tr>
    {% for pair in pairs %}
        <tr>
            <td>
                <a href="{% url 'pair_details' pair.id %}">{{ pair.started_stock.name}}/{{ pair.target_stock.name }}</a>
            </td>
            <td>
                <strong>{{ pair.current_value }}</strong>
            </td>
            <td>
                <strong>{{ pair.status.change_percent|floatformat:2 }}%</strong>
            </td>
            <td>
                <table style="width:60%">
                    <tr>
                        <td style="width:40%">{{ pair.started_stock.price }}</td>
                        <td style="width:30%">{{ pair.started_stock.status.price_change }}</td>
                        <td style="width:30%">({{ pair.started_stock.status.price_change_percent }}%)</td>
                    </tr>
                </table>

            </td>
            <td>
                <table style="width:60%">
                    <tr>
                        <td style="width:40%">{{ pair.target_stock.price }}</td>
                        <td style="width:30%">{{ pair.target_stock.status.price_change }}</td>
                        <td style="width:30%">({{ pair.target_stock.status.price_change_percent }}%)</td>
                    </tr>
                </table>
            </td>
            <td>
                <a href="{% url 'admin:stocks_stockpair_change' pair.id %}" target="_blank">Admin</a>
            </td>
        </tr>
    {% endfor %}
</table>
