{% if not diary.events_generated or hidden_events_count %}
    <div class="btn-group" role="group">
        {% if not diary.events_generated %}
            <a href="#" class="btn btn-sm btn-default" onclick="$('#genarte_form').submit()">生成Events</a>
        {% endif %}
        {% if hidden_events_count %}
            <a href="#" class="btn btn-sm btn-default" onclick="$('.collapse').collapse('toggle')">显示隐藏</a>
        {% endif %}
    </div>
    <form id="genarte_form" action="." method="post">
        {% csrf_token %}
        <input type="hidden" name="generate_events" value="generate_events" />
    </form>
{% endif %}

{% if tasks_all_done %}
    <a class="btn btn-primary btn-sm" href="{% url 'diary_todo' %}">今日任务完成! 查看TODO</a>
{% endif %}

{% if events_by_groups %}
    {% for item in events_by_groups %}
        <div class="panel panel-default">
            <div class="panel-heading">{{ item.group|default:"无" }}</div>
            <div class="panel-body">
                {% with item.events as events %}
                    {% include "diary/include/events_inner_list.html" %}
                {% endwith %}
            </div>
        </div>
    {% endfor %}
{% else %}
    {% include "diary/include/events_inner_list.html" %}
{% endif %}

