<ul class="list-unstyled">
    {% for event in events %}
        <li id="event-{{ event.id }}" style="{% if event.is_important or event.is_delayed_mandatory %}font-weight:bold; color: red;{% endif %}"
            {% if event.hidden %}class="collapse"{% endif %}>
            <div class="checkbox">
                {% if event.is_task %}
                    <label>
                        <input type="checkbox" data-event_id="{{ event.id }}" class="event-checkbox" id="event-checkbox-{{ event.id }}"
                           {% if event.is_done %}checked="checked"{% endif %}
                           {% if not event.id %}disabled="disabled"{% endif %}
                        >
                        {{ event }}
                    </label>
                    {% if event.link_url %}
                        <a href="{{ event.link_url }}" target="_blank">{{ event.link_title|default:"链接" }}</a>
                    {% endif %}
                    {% if event.memo %}
                        ： {{ event.memo }}
                    {% endif %}
                    {% if is_today and event.finish_rate %}
                        ({{ event.finish_rate.finish_rate_text }})
                    {% endif %}
                {% else %}
                    {% if event.event_type == "rule_event" %}
                        <span class="glyphicon glyphicon-info-sign"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-stop"></span>
                    {% endif %}
                    {{ event }}
                    {% if event.link_url %}
                        <a href="{{ event.link_url }}" target="_blank">{{ event.link_title|default:"链接" }}</a>
                    {% endif %}
                    {% if event.memo %}
                        ： {{ event.memo }}
                    {% endif %}
                {% endif %}
                {% if event.is_event_instance and event.id %}
                    <span class="glyphicon glyphicon-minus btn btn-sm show-delete-event-btn" data-event="{{ event.id }}" style="padding:0;"></span>
                    <span class="glyphicon glyphicon-remove btn btn-sm delete-event-btn" style="display:none; padding:0;" data-event="{{ event.id }}"></span>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>
