<ul class="list-unstyled">
    {% for event in events %}
        <li id="event-{{ event.id }}">
            {% if event.is_task %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-event_id="{{ event.id }}" class="event-checkbox" id="event-checkbox-{{ event.id }}" {% if event.is_done %}checked="checked"{% endif %}>
                        {{ event }}
                    </label>
                    {% if event.memo %}
                        ： {{ event.memo }}
                    {% endif %}
                </div>
            {% else %}
                {{ event }}
                {% if event.memo %}
                    ： {{ event.memo }}
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
