<script>
    $(function() {
        $('.event-checkbox').change(function(e){
            var item = $(this);
            var checked = $(this).prop('checked');
            var dom_id = $(this).attr('id')
            var event_id = $(this).data('event_id');
            $.post('{% url 'update_task' %}', {
                  event_id:event_id,
                  checked:checked
            },
            function(data, status){
                if (status == 'success'){
                    var item_id = $(item).attr('id');
                    var tooptip_content = data + ' ' + status;
                    $(item).attr('title', tooptip_content)
                    $(item).data('placement', 'right')
                    $(item).data('trigger', 'manual')
                    $(item).tooltip('show');
                    setTimeout('$("#' + item_id + '").tooltip("destroy")', 1000)
                }
            });
        })

        $('.delete-event-btn').click(function(e){
            e.preventDefault();
            var event_id = $(this).data('event');
            $.post('{% url 'delete_task' %}', {
                  event_id:event_id,
                  delete:true
            },
            function(data, status){
                if (status == 'success'){
                    var item = $('#event-' + event_id);
                    var tooptip_content = data + ' ' + status;
                    $(item).attr('title', tooptip_content)
                    $(item).data('placement', 'right')
                    $(item).data('trigger', 'manual')
                    $(item).tooltip('show');
                    setTimeout('$("#event-' + event_id + '").tooltip("destroy")',200)
                    setTimeout('$("#event-' + event_id + '").remove()', 500)
                }
            });
        })

    });
</script>
