<script>
    $(function() {
        $('.event-checkbox').change(function(e){
            var item = $(this);
            var checked = $(this).prop('checked');
            var dom_id = $(this).attr('id')
            var event_id = $(this).data('event_id');
            $.post('{% url 'update_task' %}', {
                  event_id:event_id,
                  checked:checked
            },
            function(data, status){
                if (status == 'success'){
                    var item_id = $(item).attr('id');
                    var tooptip_content = data + ' ' + status;
                    $(item).attr('title', tooptip_content)
                    $(item).data('placement', 'right')
                    $(item).data('trigger', 'manual')
                    $(item).tooltip('show');
                    setTimeout('$("#' + item_id + '").tooltip("destroy")', 1000)
                }
            });
        })


        $('.show-event-menu-btn').click(function(e){
            e.preventDefault();
            var event_id = $(this).data('event');
            $('#event-' + event_id).find('.event-menu-btn').show()
            $(this).hide();
        })


        $('.delete-event-btn').click(function(e){
            e.preventDefault();
            var event_id = $(this).data('event');
            $.post('{% url 'delete_task' %}', {
                  event_id:event_id,
                  delete:true
            },
            function(data, status){
                if (status == 'success'){
                    var event_dom = $('#event-' + event_id)
                    var item = event_dom.find('input');
                    event_dom.find('.checkbox').text('已删除 ' + data + ' ' + status)
                }
            });
        })

    });
</script>
