{% if tasks_all_done %}
    <a href="#" class="btn btn-sm btn-primary" onclick="$('.collapse').collapse('toggle')">任务完成!</a>
{% endif %}
<ul class="list-unstyled">
    {% for event in events %}
        <li id="event-{{ event.id }}" style="{% if event.is_important %}font-weight:bold; color: red;{% endif %}"
            {% if event.is_task and tasks_all_done %}class="collapse"{% endif %}
        >
            <div class="checkbox">
                {% if event.is_task %}
                    <label>
                        <input type="checkbox" data-event_id="{{ event.id }}" class="event-checkbox" id="event-checkbox-{{ event.id }}" {% if event.is_done %}checked="checked"{% endif %}>
                        {{ event }}
                    </label>
                    {% if event.memo %}
                        ： {{ event.memo }}
                    {% endif %}
                {% else %}
                    {% if event.event_type == "rule_event" %}
                        <span class="glyphicon glyphicon-info-sign"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-stop"></span>
                    {% endif %}
                    {{ event }}
                    {% if event.memo %}
                        ： {{ event.memo }}
                    {% endif %}
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>
