#site_heading {
    font-size:24px
}

.home-jumbo p {
    font-size: 18px;
}

@media print {
  #stock_container {
    margin: 0 auto;
  }

ã€€h1#site_heading, #account_profit, .no-print, tr.no-input, th.no-input, h3.no-input, td.no-input, .breadcrumb,
  .btn-primary, footer{
    display:none !important;
  }

  header h1#site_heading{
    display:none !important;
  }

  #account_chart_container {
    margin-left: -25%;
  }

  a[href]:after {
    content: none;
  }

}