{% extends "base.html" %}
{% load static %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li><a href="{% url 'read_list' %}">阅读</a></li>
        <li><a href="">{{ read.get_title }}</a></li>
    </ol>

    <h1>{{ read.get_title }}</h1>
    <table class="table table-condensed">
        <tr>
            <th>原文链接</th>
            <td>
                <a href="{{ read.get_original_url }}" target="_blank">{{ read.get_original_url }}</a>
            </td>
        </tr>
        {% if read.info %}
            <tr>
                <th>原文作者</th>
                <td>
                    {{ read.info.author.name }}
                </td>
            </tr>
            <tr>
                <th>原文时间</th>
                <td>
                    {{ read.info.original_timestamp|date:'Y年n月j日' }}
                </td>
            </tr>
        {% endif %}
    </table>
    <h4>笔记:</h4>
    {{ read.note|linebreaks }}

    <a href="{% url 'read_list' %}" class="btn btn-primary">更多阅读</a>
{% endblock %}
