{% extends "pages/pages_base.html" %}
{% load wagtailcore_tags wagtailimages_tags pages_tags %}

{% block header %}
    <div class="section section-header section-md">
        <div class="info">
            <h1>{{ self.title }}</h1>
            {% if intro %}
                {{ intro|richtext }}
            {% endif %}
        </div>
    </div>
{% endblock header %}

{% block content %}
    {% with page.get_children.live as pages %}
    {% if pages %}
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                {% for page in pages %}
                    <div class="col-xs-12 col-sm-6  col-md-6 col-lg-6">
                        <div class="card">
                            <div class="thumbnail">
                                {% image page.specific.image fill-455x260 as theimage %}
                                <a href="{% pageurl page %}">
                                    <img src="{{ theimage.url }}"  alt="{{ theimage.alt }}" />
                                </a>
                            </div>
                            <div class="card-info">
                                <a href="{% pageurl page %}">
                                    <h3>{{ page.title }}</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% endwith %}

    {% include "pages/includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}
