{% extends "pages/pages_base.html" %}
{% load wagtailcore_tags wagtailimages_tags pages_tags %}

{% block content %}
    {% include "pages/includes/intro.html" with intro=self.intro only %}

    {% with page.get_children.live as pages %}
    {% if pages %}
        <div class="row">
            {% for page in pages %}
                <div class="col-xs-12 col-sm-6  col-md-6 col-lg-6 ">
                    {% image page.specific.image min-540x400 as theimage %}
                    <img src="{{ theimage.url }}"  alt="{{ theimage.alt }}" />

                    <a class="list-group-item" href="{% pageurl page %}">
                        <h4 class="list-group-item-heading">{{ page.title }}</h4>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    {% include "pages/includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}
