{% extends "pages/pages_base.html" %}

{% load wagtailcore_tags %}

{% block content %}
    {% include "pages/includes/intro.html" with intro=self.intro only %}

    {% include "pages/includes/carousel.html" with carousel_items=self.carousel_items.all only %}

    {% if self.body %}
        <div class="body-content">
            {{ self.body|richtext }}
        </div>
    {% endif %}

    {% include "pages/includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}
