{% extends "pages/pages_base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}game-page{% endblock %}

{% block header %}
{% image page.specific.image original as theimage %}
    <div class="section section-header section-md" style="background: url('{{ theimage.url }}') no-repeat;background-size: cover;">
        <div class="info">
            <h1>{{ self.title }}</h1>
            {% if intro %}
                {{ intro|richtext }}
            {% endif %}
        </div>
    </div>
{% endblock header %}

{% block content %}
    {% include "pages/includes/carousel.html" with carousel_items=self.carousel_items.all only %}
    <div class="col-md-10 col-md-offset-1">
        <h1>{{ self.title }}</h1>
        {% image page.specific.image width-945 as theimage %}
        <img src="{{ theimage.url }}"  alt="{{ theimage.alt }}" />

        {% if self.body %}
            {{ self.body|richtext }}
        {% endif %}
    </div>
    {% include "pages/includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}
