{% load static wagtailuserbar %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link href="{% static "bootstrap-3.3.7-dist/css/bootstrap.min.css" %}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/fruits_learning.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
        <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?08fe6df503bd9fb6928f0bef8eaf039a";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <header class="container">
            <h1 class="col-md-10">投资者，程序员 -- 陈喆</h1>
        </header>

        {% block outter_content %}
        <div class="container">
            <div class="col-md-10">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% endblock %}

        <footer class="container">
            <p class="col-md-12">
                <a href="http://ixxy.co.uk/" target="_blank">Ixxy</a> /
                <a href="https://xueqiu.com/fruitschen" target="_blank">雪球</a> /
                <a href="http://github.com/fruitschen" target="_blank">GitHub</a>
            </p>
        </footer>

        {# Global javascript #}
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
